SwissArmyTransformer>=0.2.11
icetk
apex
scipy
dataclass_wizard
protobuf>=3.20.2 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability